    * {
    padding: 0;
    margin: 0;
    font-size: 1.5vw;
    text-decoration: none;
}
.recipes {
    max-width: 100%;
}
.recipe a { cursor: pointer; text-decoration: none; text-align: center; color: white; }
.recipe {
max-width: 100%;
height: auto;
display: block;
margin-bottom: 5px;
position: relative;
padding: 0;
margin-left: 10px;
margin-right: 10px;
}
.recipe img {
border-radius: 15px;
width: 100%;
max-width: 400px;
height: auto;
display: block;
}
html {
    background-color: rgb(19, 10, 56);
    height: 100%;
}
.recipes {
    float: right;
    position: absolute; top: 5%; left: 32%;
}
.recipe .recipe-info {
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
background-color: rgba(0,0,0,.6);
display: block;
padding: 5px 10px;
position: absolute;
bottom: 0;
right: 0;
left: 0;
}
.blur {
    display: block;
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 7;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity = 50);
}
.recipe .favorite-icon {
position: absolute;
top: 8px;
right: 10px;
background-color: rgba(0,0,0);
border-radius: 50%;
padding: 2% 2% 1% 2%;
}
.fa-user-circle { 
    position:fixed;
    left: 0.7%;
    top: 4%;
    opacity: 1;
}
#sign-up-message {
    font-size: 90%;
    color: rgb(185, 185, 185);
    position: relative;
    top: -7px;
}
#sign-up-anchor {
    background-color: rgb(49, 23, 119);
    font-size: 95%;
    color: rgb(231, 231, 231);
}
.fa-user-circle:hover { 
    cursor: pointer;
    opacity: 0.8;
}
.ingredients li {
    text-decoration: none;
    padding-top: 10px;
    background-color: inherit;
}
.ui-autocomplete { 
    max-height: 19%;
    max-width: 20%;
    overflow-y: scroll;
     overflow-x: hidden;
    }
html {
    width: 100%;
    height: 100%;
}
.ui-menu .ui-menu-item a{
    background:red;
    height:10px;
    font-size:8px;
}

.cook-page {
    width: 100%; 
    height: 100vh;
    background-color: rgb(19, 10, 56);
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.show {
    display: block !important;
    transition: display 1s linear;
}
.input-search {
    top: 3%;
    width: inherit;
    position: fixed;
    text-align: center;
    border: 2px solid rgba(60, 29, 199, 0.788);
    border-radius: 5px;
    height: 5%;
    color: white;
    background-color: #2b2b2b;
}
.input-search:active, .input-search:hover, .input-search:focus  {
    background-color: #161b46;
}
ul { 
    list-style: none;
}
.close {
    background-color: inherit;
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 10px;
    padding: 12px 16px;
    margin-right: 10px;
    transform: translate(0%, -50%);
}
.close:hover {color: rgb(60, 29, 199);}
.search-table {
    width: 24%;
    height: 100%;
    padding-left: 3%;
    padding-right: 3%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:   rgb(32, 35, 63);
    box-shadow: 5px 0px rgba(60, 29, 199, 0.788);
}

.meals {
    margin-top: 10%;
    position: fixed;
    background-color: inherit;
}
.meals .ingredients{
    font-size: 150%;
    scroll-behavior: smooth;
    background-color: inherit;
}


@media (orientation: portrait)
{
    .cook-page {
        display: none;
        background-color: rgb(255, 255, 255);
    }
    .portrait p {
        font-size: 500%;
        color: white;
        left: 20%;
        top: 50%;
        position: fixed;
    }
}
@media (orientation: landscape)
{
    .portrait {
        display: none;
    }
}


#ui-id-1 {
    color: white;
}
.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: rgba(60, 29, 199, 0.788);
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-right-width: 2px;
    border-bottom-width: 2px;
}
.ui-widget.ui-widget-content {
    border: 1px solid #5535E2;
    background-color: #371cb1;
}
.ui-menu-item:hover {
    background-color: #5535E2;
}
i {
    background-color: inherit;
    color: rgb(255, 250, 250);
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555; 
    white-space: nowrap;
    text-decoration: none;
}
.ui-menu-item-wrapper:hover {
    background-color: #5535E2;
}
.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #5535E2;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    background-image: none;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 25%;
  left: 35%;
  max-width: 30%;
  z-index: 9;
}
#signup {
    top: 20%;
  }
/* Add styles to the form container */
.form-container {
  padding: 10px;
  background-color: rgb(49, 23, 119);
  border-radius: 5%;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 96%;
  margin: 5px 0 22px 0;
  padding: 2%;
  border: none;
  background: rgb(84, 56, 158);
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: rgb(84, 56, 158);
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 2.5%;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}
.form-container h1 {
    background-color: inherit;
  }
.form-container b{
    background-color: rgb(49, 23, 119);
    color: rgb(255, 255, 255);
}
input {
    color: white;
}
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
} 
